<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweet Application</title>
</head>
<body>

    <div class="navbar">
        <div class="navbar-inner">
            <a href="#" class="brand">
                Tweet App Demo
            </a>
        </div>
    </div>
    <div id="main" class="container">
        <form action="">
            <table class="table table-striped">
                <div>
                    Name: <br><input type="text" placeholder="Full Name of user">
                </div>

                <div>
                    email: <br><input type="email" placeholder="Email">
                </div>
                <div>
                    password: <br><input type="password" placeholder="Password">
                </div>

                <button type="submit"> Add User</button>


            </table>
        </form>

    </div>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"  rel="stylesheet">
    <!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script> -->
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>



</body>
</html>